# Ambiente virtual e cache
.venv
__pycache__
*.pyc

# Git
.git

# Dados brutos (apenas os modelos processados são necessários para a API)
data/01_raw/
results/
tests/

# MLflow local database
mlflow.db

# PyTorch/Lightning cache
.torch/
.lightning/