# Git
.git
.gitignore
.dockerignore

# Ambientes Virtuais e Cache Python
.venv
__pycache__
*.pyc
.python-version

# Dados
# Ignoramos dados brutos (não usados na inferência)
data/01_raw/
# Ignoramos resultados de plots
results/
# Ignoramos testes
tests/

# Logs e Bancos de Dados Locais
*.log
mlflow.db
mlruns/
lightning_logs/

# Configurações de IDE
.vscode/
.idea/

# Documentação de build
Dockerfile
README.md
CONTRIBUTING.md